{% extends "base.html" %}
{% load etiquetas_tag %}
{% block title %} {{q.nombre}}{% endblock %}

{% block content %}


<div class="main-canal">
	{% include "includes/aside-right.html" %}
	<div class="canal-container">
		<div class="header-canal">
			<div class="row">
              <div class="col s12 m5 l12">
                <div class="card margin-card">
                  <div class="card-image">
                    <img src="https://yt3.ggpht.com/-slcFkbdSYNk/Vpx2_p5OCfI/AAAAAAAABQk/AXPEofO3X3Y/w1060-fcrop64=1,00005a57ffffa5a8-nd-c0xffffffff-rj-k-no/Thumbnail%2BYoutube%2B2016.jpg" class="img-height">
                  </div>
                  <div class="card-content">
                    <span class="card-title "><strong>{{ user_canal.nombre }}</strong></span>
                    <a href="#" class="waves-effect waves-light btn config">Configuracion</a>
                  </div>
                  <div class="card-content">
                    <nav>
                      <div class="nav-wrapper">
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                          <li class="active"><a href="#">Videos</a></li>
                          <li><a href="#">Subscriptores</a></li>
                          <li><a href="#">Lista de Reproducion</a></li>
                          <li><a href="#">Canales</a></li>
                          <li><a href="#">Debate</a></li>
                        </ul>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
		</div>
		<div class="video-canal">
			<div class="row">
				{% if z %} 
					{% for m in z %}
		              <div class="col s12 m7 l3">
		                <div class="card">
		                  <div class="card-image">
		                    <img src="http://materializecss.com/images/sample-1.jpg">
		                  </div>
		                  <div class="card-content">
		                    <p>{{ m.nombre_video|cortar }}</p>
		                  </div>
		                  <div class="card-action">
		                    <a href="{% url 'delete' m.cod_video %}">Eliminar</a>
		                  </div>
		                </div>
		              </div>
		            {% endfor %}
	            {% else %}
	            	<div class="col s12 m7 l3">
		                Todavia no subiste videos
		            </div>
	            {% endif %}
            </div>
		</div>

	</div>
</div>
{% endblock %}