{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="register-container">
	<div class="row">
		<div class="col s12">
              <h1 class="center-align h1-login">Unete a nosotros</h1>
        </div>
	</div>
	<div class="row">
		<form action="" method="post" enctype="" class="col s12">{% csrf_token %}
			       <div class="row">
              <div class="input-field col s6">
              	{{ form.namefirst }}
                {% if form.namefirst.errors %}
                  <label for="first_name">{{ form.namefirst.errors }}</label>
                {% else %}
                  <label for="first_name">First Name</label>
                {% endif %}
              </div>
             
              <div class="input-field col s6">
                {{ form.namelast }}
                {% if form.namelast.errors %}
                  <label for="last_name">{{ form.namelast.errors }}</label>
                {% else %}
                  <label for="last_name">Last Name</label>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.username }}
                {% if form.username.errors %}
                  <label for="username">{{ form.username.errors }}</label>
                {% else %}
                  <label for="username">Username</label>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.email }}
                {% if form.email.errors %}
                  <label for="email">{{ form.email.errors }}</label>
                {% else %}
                  <label for="email">Email</label>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.password }}
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{ form.passworddos }}
                {% if form.passworddos.errors %}
                  <label for="passworddos">{{ form.passworddos.errors }}</label>
                {% else %}
                  <label for="passworddos">Repetir Password</label>
                {% endif %}
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Enviar
              <i class="material-icons right">send</i>
            </button>
        </form>
	</div>
</div>
{% endblock %}
