{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block propio %}{% endblock %}
{% block content %}
<div class="resultado-video">
	<div class="row">
		<div class="col l3">
			{% include "includes/aside-right.html" %}
		</div>
		<div class="col l9">
			<div class="row">
				<div class="col l12">
					<ul class="collection margin-resultado">
						{% for query in  q %}
						    <li class="collection-item avatar">
						      <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
						      <span class="title"><a href="{% url 'vervideo' %}?v={{query.cod_video}}">{{query.nombre_video}}</a></span>
						      <p><a href="{% url 'channel' query.id_c.codigo_canal %}">{{ query.id_c.nombre }}</a> <br>
						         Second Line
						      </p>
						    </li>
					    {% endfor %}
					  </ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}