{% extends "base.html" %}
{% block title %}Ver Video{% endblock %}
{% block content %}
		<video controls width="320" height="240">
			<source src="{{ MEDIA_URL }}{{q.video_file}}" type="video/mp4">
	    </video>
        {% if contarlike %}
        <h1 display='inline-block'>Me gusta {{contarlike}}</h1>
        {% else %}
        <h1>Me gusta 0</h1>
        {% endif %}

        {% if contardislike %}
        <h1 display='inline-block'>No me gusta {{contardislike}}</h1>
        {% else %}
        <h1>No me gusta 0</h1>
        {% endif %}
        <form action="" method="post" enctype="">{% csrf_token %}  
            <input type="button" value="Suscribirse" name="boton_form_2" onclick="subscribirse()">
            <div id="message"></div>
        </form>
        <form action="" method="post" enctype="">{% csrf_token %}  
            <input type="submit" value="Me gusta" name="boton_form_3">
            <input type="submit" value="No me gusta" name="boton_form_4">
        </form>
        {% if messages %} 
		{% endif %}
        <form action="" method="post" enctype="">{% csrf_token %} 
            {{ form.as_table }} 
            <input type="submit" value="Enviar" name="boton_form_1"> 
        </form>
        {% if c %}
        	{% for coments in c %}
        		{{coments.comentario_text}} <br>
        	{% endfor %}
        	{% else %}
        	Este video no tiene comentarios
        {% endif %}
{% endblock %}
{% block contentjs %}
    function subscribirse(){
        $.ajax({         
            url:'ajaxsubs/',
            type : 'POST',
            data : {'video_cod' : '{{q.cod_video}}', csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()},
            success : function(data){
                if(data){
                    location.href = data
                }else{
                alert('hola')
                }
                
            }
        });
    }

{% endblock %}