{% extends "base.html" %}
{% block title %}Ver Video{% endblock %}
{% block content %}
		<div class="main-video">
            <div class="container-video">
                <div class="video-player">
                    <video class="size-video" controls>
                        <source src="{{ MEDIA_URL }}{{q.video_file}}" type="video/mp4">
                    </video>
                </div>
                <div class="video-info">
                    <div class="col s12 m7 margin-info">
                        <div class="card horizontal margin-horizontal-card">
                            <div class="card-stacked absolute">
                                <div class="card-content absolute">
                                    <p>{{q.nombre_video}}</p>
                                    <div class="size-card-img margin-img">
                                        <img src="http://materializecss.com/images/sample-1.jpg" class="size-img">
                                    </div>
                                    <div class="name-canal">
                                        <span><strong><a href="{% url 'channel' q.id_c.codigo_canal %}">{{q.id_c.nombre}}</a></strong></span>
                                    </div>
                                    <div class="subscribirse">
                                        <form action="" method="post" enctype="">{% csrf_token %}
                                            <input type="button" value="Subscribirse" name="boton_form_2" class="waves-effect waves-light btn" onclick="subscribirse()"> 
                                        </form>
                                    </div>
                                    <div class="cant-vote-dislike">
                                        {% if contardislike %}
                                            <span>{{contardislike}}</span>
                                        {% else %}
                                            <span>0</span>
                                        {% endif %}
                                    </div>
                                    <div class="cant-vote-like">
                                        {% if contarlike %}
                                            <span>{{contarlike}}</span>
                                        {% else %}
                                            <span>0</span>
                                        {% endif %}
                                    </div>
                                    <div class="vote">
                                        <form action="" method="post" enctype="">{% csrf_token %}
                                            <button type="button" name="boton_form_3" class="waves-effect waves-light btn" onclick="megusta()">
                                            <i class="material-icons">thumb_up</i></button>
                                            <button type="button" name="boton_form_4" class="waves-effect waves-light btn" onclick="nomegusta()">
                                            <i class="material-icons">thumb_down</i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-comment z-depth-1">
                    <form class="col s12" action="" method="post" enctype="">{% csrf_token %}
                      <div class="row margin-textarea-row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          {{ form.as_table }} 
                        </div>
                      </div>
                      <button type="button" name="Comentar" class="waves-effect waves-light btn" onclick="comentar()">Comentar</button>
                    </form>
                </div>
                <div class="list-comment z-depth-1">
                    {% if c %}
                        {% for coments in c %}
                            <div class="row row-padding">
                                <div class="col l1">
                                    <div class="avatar">
                                        <img src="http://materializecss.com/images/sample-1.jpg" alt="" class="img-avatar">
                                    </div>
                                </div>
                            <div class="col l11 col-margin">
                                <div class="row margin-user-link">
                                    <div class="col l12">
                                        <a href="#">{{coments.id_user.username}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col l12">
                                        <p>{{coments.comentario_text}}</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row row-padding">
                            <div class="col l12">
                                Este Video no tien comentarios
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="aside-right">
                <ul class="collection">
                    {% if s1 %}
                        {% for sugerencias in s1 %}
                          <li class="collection-item">
                            <div class="col s12 m7">
                                <div class="card horizontal">
                                  <div class="card-image size-card-img">
                                    <img src="http://materializecss.com/images/sample-1.jpg" class="size-img">
                                  </div>
                                  <div class="card-stacked">
                                    <div class="card-action">
                                      <a href="{% url 'vervideo' %}?v={{ sugerencias.cod_video }}">{{ sugerencias.nombre_video }}</a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </li>
                      {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
{% endblock %}
{% block contentjs %}
    metodo_post='POST'
    django_token = $('input[name=csrfmiddlewaretoken]').val()
    function subscribirse(){
        full_ajax('ajaxsubs/', metodo_post,{'video_cod' : '{{q.cod_video}}', csrfmiddlewaretoken: django_token })
        }
    function comentar(){
        full_ajax('ajaxcomentar/', metodo_post,{'video_cod' : '{{q.cod_video}}', 'comentario': $('#id_comentario').val(), csrfmiddlewaretoken: django_token})
        }
    function megusta(){
        full_ajax('ajaxmegusta/', metodo_post,{'video_cod' : '{{q.cod_video}}', csrfmiddlewaretoken: django_token})
    }
    function nomegusta(){
        full_ajax('ajaxnomegusta/', metodo_post,{'video_cod' : '{{q.cod_video}}', csrfmiddlewaretoken: django_token})
    }

{% endblock %}