<div class="aside-rigth">
      		<div class="row">
      			{% if not user.is_authenticated %}
		      		<ul class="collection with-header margin-not-auth">
				        <li class="collection-header"><h2>Tendencias</h2></li>
				        <a href="#!" class="collection-item">Alvin</a>
		      		</ul>
	      		{% else %}
					<ul>
	      				<li>
					    	<div class="card-panel grey lighten-5 z-depth-1 card-margin">
					        	<img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img img-user-center"> <!-- notice the "circle" class -->
					     	</div>
	      				</li>
	      				<li class="margin-li"><a href="#" class="waves-effect waves-light btn a-width">Subcripciones</a></li>
	      				<li class="margin-li"><a href="{% url 'channel' user_canal.codigo_canal %}" class="waves-effect waves-light btn a-width">Mi canal</a></li>
	      				<li class="margin-li"><a href="#" class="waves-effect waves-light btn a-width">Favoritos</a></li>
      				</ul>
		      		<ul class="collection with-header">
				        <li class="collection-header"><h2>Subscripciones</h2></li>
				        {% if sub_ctx %}
					        {% for subscripciones in sub_ctx %}
					        <a href="{% url 'channel' subscripciones.id_c.codigo_canal %}" class="collection-item">{{ subscripciones.id_c.nombre }}</a>
					        {% endfor %}
					    {% else %}
					    	<li class="collection-item">No estas subcripto a ningun canal</li>
					    {% endif %}
		      		</ul>
      			{% endif %}

      		</div>
      </div>